* {
  box-sizing: border-box;
}
@font-face {
font-family: "Kalam";
src= url("https://fonts.googleapis.com/css2?family=Kalam&display=swap") 
}

html { 
  background: url(Slub.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20%;
}




